[logger]
log_file_name: ./logs/gl_gc.log

[data_files]
data_dir: ./data
sic_data: %(data_dir)s/sic_class_mapping.csv
model_coefficients_file: %(data_dir)s/gl_gc_coefficients.csv
easi_data: %(data_dir)s/easi.csv
division_factors: %(data_dir)s/division_factors.csv

[constants]
expense_rate: 0.35
loss_development_factor: 1
aggregate_limit: 1
ilf_loss_cap: 1000000

[model_rules]
# lambda data, model: 0 is a throwaway rule. It get's overriden in the code
# It is kept here only to make sure all model features are listed.
rules: {
        'log_l_mean_clm_cnt_123':    lambda data, model: 0,
        'sales_ind_log_sales_m':     lambda data, model: 0,
        'payroll_ind_log_payroll_m': lambda data, model: 0,
        'div_59':                    lambda data, model: 1 if data['division'] == 59 else 0,
        'div_54':                    lambda data, model: 1 if data['division'] == 54 else 0,
        'div_82':                    lambda data, model: 1 if data['division'] == 82 else 0,
        'sic_class_D':               lambda data, model: 1 if data['sic_class'] == 'D' else 0,
        'sic_class_E':               lambda data, model: 1 if data['sic_class'] == 'E' else 0,
        'sic_class_F':               lambda data, model: 1 if data['sic_class'] == 'F' else 0,
        'sic_class_G':               lambda data, model: 1 if data['sic_class'] == 'G' else 0,
        'sic_class_J':               lambda data, model: 1 if data['sic_class'] == 'J' else 0,
        'state_TX':                  lambda data, model: 1 if data['predom_state'] == 'TX' else 0,
        'state_NY':                  lambda data, model: 1 if data['predom_state'] == 'NY' else 0,
        'state_CA':                  lambda data, model: 1 if data['predom_state'] == 'CA' else 0,
        'log_density':               lambda data, model: 0,
        'zero_loss_ind':             lambda data, model: 1 if data['avg_claim_count'] == 0 else 0,
        'miss_ind':                  lambda data, model: 0
        }
